[submodule "submodules/pipedal_p2pd"]
	path = submodules/pipedal_p2pd
	url = https://github.com/rerdavies/pipedal_p2pd
[submodule "modules/websocketpp"]
	path = modules/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
