[submodule "submodules/pipedal_p2pd"]
	path = submodules/pipedal_p2pd
	url = https://github.com/rerdavies/pipedal_p2pd
[submodule "modules/websocketpp"]
	path = modules/websocketpp
	url = https://github.com/rerdavies/websocketpp.git
	branch = develop
	update = merge
[submodule "modules/SQLiteCpp"]
	path = modules/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
