[Unit]
Description=PiPedal P2P Session Manager
After=network.target

[Service]
ExecStart=${COMMAND} --systemd --log-level debug
Type=notify
WorkingDirectory=/var/pipedal
TimeoutStopSec=5


[Install]
WantedBy=multi-user.target
