[Unit]
Description=${DESCRIPTION}
After=network.target
After=sound.target
After=local-fs.target



[Service]
Restart=on-failure
Type=notify
LimitMEMLOCK=infinity
LimitRTPRIO=95
ExecStart=${COMMAND} 
User=pipedal_d
Group=pipedal_d
Restart=always
TimeoutStartSec=60
RestartSec=5
TimeoutStopSec=15

WorkingDirectory=/var/pipedal
Environment=JACK_PROMISCUOUS_SERVER=audio
Environment=JACK_NO_AUDIO_RESERVATION=1



[Install]
WantedBy=multi-user.target