[Unit]
Description=${DESCRIPTION}
After=network.target
After=sound.target
After=local-fs.target



[Service]
Restart=on-failure
Type=notify
LimitMEMLOCK=infinity
LimitRTPRIO=95
Nice=-9
ExecStart=${COMMAND} 
User=pipedal_d
Group=pipedal_d
Restart=always
TimeoutStartSec=60
NotifyAccess=all
RestartSec=5
TimeoutStopSec=15
WorkingDirectory=/var/pipedal


[Install]
WantedBy=multi-user.target