Depends: dnsmasq(>= 2.85),lv2-dev(>=1.14), iw
Description: IoT guitar effect for Raspberry Pi
 IoT guitar effect pedal for Raspberry Pi, with phone-friendly web interface.
Homepage: https://github.com/rerdavies/pipedal
Maintainer: Robin E. R. Davies<rerdavies@gmail.com>
Source: pipedal
Package: pipedal
Priority: optional
Section: sound
Version: 1.2.32
Installed-Size: 15147

