[Unit]
Description=${DESCRIPTION}
After=jack.service
After=network.target
BindsTo=jack.service


[Service]
LimitMEMLOCK=infinity
LimitRTPRIO=95
ExecStart=${COMMAND} 
User=pipedal_d
Group=pipedal_d
Restart=always
RestartSec=15
TimeoutStopSec=10
WorkingDirectory=/var/pipedal
Environment=JACK_PROMISCUOUS_SERVER=jack
Environment=JACK_START_SERVER=1


[Install]
WantedBy=multi-user.target